@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ececec;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.custom-file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-upload::before {
  content: "📎";
  display: inline-block;
  border-radius: 3px;
  padding: 15px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 25pt;
}
.custom-file-upload:hover::before {
  border-color: black;
}

.container {
  column-count: 3;
  column-gap: 0.25em;
}

.item {
  margin: 0 0 0.25em;
}

.text-editor {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
}

.menu-bar {
  margin: 0;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar button {
  padding: 1rem;
}

.ProseMirror {
  padding: 10px;
  background: white;
  border-radius: 0 0 5px 5px;
  min-height: 100px;
}
.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: #cfcfcf;
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #9c9c9c;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid #9c9c9c;
  margin: 2rem 0;
}

.chat-bar {
}

#message-container {
  padding-top: 10px;
  height: 48rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#message-container::-webkit-scrollbar {
  display: none;
}

.room-div {
}
